**/dist/*
!./dist/index.html

node_modules/
tsconfig.tsbuildinfo
/.vs/
*.log

**/.yarn/*
!**/.yarn/releases
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/sdks
!**/.yarn/versions

.pnp.*
.DS_Store

.DS_Store
*/.DS_Store
*/*/.DS_Store
.vscode/settings.json

**/tests_output/**

*.env
