name: Build and Deploy

on:
  push:
    branches:
      main

jobs:
  build:
    if: ${{ github.repository_owner == 'cosmicds' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false
    
      - name: Set up Node.js
        uses: actions/setup-node@v3

      - name: Yarn install
        run: yarn install

      - name: Lint
        run: yarn lint

      - name: Build
        run: yarn build

      - name: BrowserStack env setup
        uses: browserstack/github-actions/setup-env@master
        with:
          username:  ${{ secrets.BROWSERSTACK_USERNAME }}
          access-key: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}

      - name: 'BrowserStack local tunnel setup'
        uses: browserstack/github-actions/setup-local@master
        with:
          local-testing: start
          local-identifier: random

      - name: Run BrowserStack tests
        run: |
          set -xeuo pipefail
          cd tests
          yarn serve &
          sleep 10 # give the local service time to start up
          yarn bs-local -e default,firefox,edge,safari -o reports
          pkill -f vue-cli-service # stop the servers

      - name: Get workspaces
        uses: sergeysova/jq-action@v2
        id: workspaces
        with:
          cmd: (cat package.json | jq -r '.workspaces | @sh') | tr -d \'
        
      - name: Rearrange for Pages
        run: |
          workspaces=(${{ steps.workspaces.outputs.value }})
          for ws in "${workspaces[@]}"
          do
            if [ $ws != 'common' -a $ws != 'tests' ]
            then
              mv ${ws}/dist dist/${ws}
            fi
          done

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: dist
          ssh-key: ${{ secrets.DEPLOY_KEY }}
